In [202]:
import pandas as pd
import os
from dotenv import load_dotenv

# Load environment variables
load_dotenv()

True

In [203]:
# Get paths from environment variables
base_path = os.getenv('HTML_PATH')
download_path = os.getenv('DOWNLOAD_PATH')

# Construct full path to HTML file
# path = os.path.join(base_path, "1.htm")
path = os.path.join(base_path, "DetailedStatement.htm")

In [204]:
# Check if file exists before reading
if not os.path.exists(path):
    print(f"Error: HTML file not found at {path}")
else:
    # Read HTML file
    tables = pd.read_html(path)
    
    # Check if tables are found
    if not tables:
        print("No tables found in the HTML file.")
    else:
        print(f"Found {len(tables)} tables in the HTML file.")
        for i, table in enumerate(tables, 1):
            print(f"Table {i}: {table.shape[0]} rows x {table.shape[1]} columns")

Error: HTML file not found at C:\Users\calli\Downloads\PROP-database-new\da_aggiungere\fnext\100\f\DetailedStatement.htm

In [205]:
def html_to_excel(html_file, excel_file):
    try:
        # Read HTML tables from the file
        tables = pd.read_html(html_file)
        if not tables:
            print("No tables found in the HTML file.")
            return
        
        # Save each table to a separate sheet in Excel
        with pd.ExcelWriter(excel_file, engine='openpyxl') as writer:
            for idx, table in enumerate(tables, start=1):
                sheet_name = f"Sheet{idx}"
                table.to_excel(writer, sheet_name=sheet_name, index=False)
        
        print(f"Conversion successful!")
    
    except FileNotFoundError:
        print(f"Error: File '{html_file}' not found.")
    except ValueError as e:
        print(f"Error reading HTML: {e}")
    except Exception as e:
        print(f"Unexpected error: {e}")

# Convert the HTML file to Excel
if os.path.exists(path):
    excel_output = os.path.join(download_path, "converted_tables.xlsx")
    html_to_excel(path, excel_output)
else:
    print("Cannot convert: HTML file not found.")

Cannot convert: HTML file not found.

In [ ]:
# read converted csv file
df = pd.read_excel(excel_output, sheet_name='Sheet1')
# df.head()

In [ ]:
"""conditions always valid"""

# keep rows from row 2
df = df.iloc[2:].reset_index(drop=True)

# RangeIndex have the corrected column names
df.columns = df.iloc[0]
df = df[1:]

# there are two columns with the same name 'Price'
# rename the second 'Price' column to 'Price2'
df.columns = df.columns.where(df.columns.duplicated() == False, df.columns + '2')

# trim whitespace from column names
df.columns = df.columns.str.strip()

# # trim Profit column values
# df['Profit'] = df['Profit'].str.strip()

# # replace empty characters with '' in 'Profit' column
# df['Profit'] = df['Profit'].replace(r'^\s*$', '', regex=True)

#  drop 'Taxes' column
df = df.drop(columns=['Taxes'], errors='ignore')

In [ ]:
df.tail(20)

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Price2,Commission,Swap,Profit
1355,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,NaN
1356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1357,Summary:,Summary:,Summary:,Summary:,Summary:,Summary:,Summary:,Summary:,Summary:,Summary:,Summary:,Summary:,Summary:
1358,Deposit/Withdrawal:,Deposit/Withdrawal:,100 000.00,100 000.00,Credit Facility:,Credit Facility:,Credit Facility:,Credit Facility:,0.00,NaN,NaN,NaN,NaN
1359,Closed Trade P/L:,Closed Trade P/L:,-6 002.59,-6 002.59,Floating P/L:,Floating P/L:,Floating P/L:,Floating P/L:,0.00,Margin:,Margin:,0.00,0.00
1360,Balance:,Balance:,93 997.41,93 997.41,Equity:,Equity:,Equity:,Equity:,93 997.41,Free Margin:,Free Margin:,93 997.41,93 997.41
1361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1362,Details:,Details:,Details:,Details:,Details:,Details:,Details:,Details:,Details:,Details:,Details:,Details:,Details:
1363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1364,Gross Profit:,Gross Profit:,75 265.37,75 265.37,Gross Loss:,Gross Loss:,Gross Loss:,Gross Loss:,81 267.96,Total Net Profit:,Total Net Profit:,-6 002.59,-6 002.59
1365,Profit Factor:,Profit Factor:,0.93,0.93,Expected Payoff:,Expected Payoff:,Expected Payoff:,Expected Payoff:,-8.95,NaN,NaN,NaN,NaN
1366,Absolute Drawdown:,Absolute Drawdown:,6 002.59,6 002.59,Maximal Drawdown:,Maximal Drawdown:,Maximal Drawdown:,Maximal Drawdown:,11 766.93 (11.13%),Relative Drawdown:,Relative Drawdown:,11.13% (11 766.93),11.13% (11 766.93)
1367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1368,Total Trades:,Total Trades:,671,671,Short Positions (won %):,Short Positions (won %):,Short Positions (won %):,Short Positions (won %):,97 (38.14%),Long Positions (won %):,Long Positions (won %):,574 (40.77%),574 (40.77%)
1369,Profit Trades (% of total):,Profit Trades (% of total):,Profit Trades (% of total):,Profit Trades (% of total):,Profit Trades (% of total):,Profit Trades (% of total):,Profit Trades (% of total):,Profit Trades (% of total):,271 (40.39%),Loss trades (% of total):,Loss trades (% of total):,400 (59.61%),400 (59.61%)
1370,Largest,Largest,profit trade:,profit trade:,profit trade:,profit trade:,profit trade:,profit trade:,2 057.27,loss trade:,loss trade:,-1 390.99,-1 390.99
1371,Average,Average,profit trade:,profit trade:,profit trade:,profit trade:,profit trade:,profit trade:,277.73,loss trade:,loss trade:,-203.17,-203.17
1372,Maximum,Maximum,consecutive wins ($):,consecutive wins ($):,consecutive wins ($):,consecutive wins ($):,consecutive wins ($):,consecutive wins ($):,12 (2 202.21),consecutive losses ($):,consecutive losses ($):,11 (-3 569.80),11 (-3 569.80)
1373,Maximal,Maximal,consecutive profit (count):,consecutive profit (count):,consecutive profit (count):,consecutive profit (count):,consecutive profit (count):,consecutive profit (count):,4 741.06 (4),consecutive loss (count):,consecutive loss (count):,-3 569.80 (11),-3 569.80 (11)
1374,Average,Average,consecutive wins:,consecutive wins:,consecutive wins:,consecutive wins:,consecutive wins:,consecutive wins:,2,consecutive losses:,consecutive losses:,3,3

In [ ]:
# ==================================================================
"""
from df.tail() check first row with SumSummary:	Summary:	Summary:
cancel all rows from that row onwards, indicating the RangeIndex num
"""
# ==================================================================

'\nfrom df.tail() check first row with SumSummary:\tSummary:\tSummary:\ncancel all rows from that row onwards, indicating the RangeIndex num\n'

In [ ]:
"""conditions depending on data, check data length first"""
# drop rows indicating correct RangeIndex (with iloc)
up_to_row = 1356  # adjust this number based on actual data
df = df.iloc[:up_to_row]

In [ ]:
df.tail(10)

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Price2,Commission,Swap,Profit
1347,Closed P/L:,Closed P/L:,Closed P/L:,Closed P/L:,Closed P/L:,Closed P/L:,Closed P/L:,Closed P/L:,Closed P/L:,Closed P/L:,Closed P/L:,-6 002.59,-6 002.59
1348,Open Trades:,Open Trades:,Open Trades:,Open Trades:,Open Trades:,Open Trades:,Open Trades:,Open Trades:,Open Trades:,Open Trades:,Open Trades:,Open Trades:,Open Trades:
1349,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,NaN,Price,Commission,Swap,Profit
1350,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,NaN
1351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00
1352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Floating P/L:,0.00,0.00
1353,Working Orders:,Working Orders:,Working Orders:,Working Orders:,Working Orders:,Working Orders:,Working Orders:,Working Orders:,Working Orders:,Working Orders:,Working Orders:,Working Orders:,Working Orders:
1354,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Market Price,Market Price,NaN,NaN,NaN
1355,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,No transactions,NaN
1356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
"""conditions always valid"""

"""
drop rows where 'Open Time' and 'Close Time' have the following values:
Closed P/L:
Open Trades:
Open Time
Working Orders:
No transactions
0.00
"""
# drop strings in 'Open Time' and 'Close Time' columns
strings_to_drop = ['Closed P/L:', 'Open Trades:', 'Open Time', 'Working Orders:', 'No transactions', '0.00']
df = df[~df['Open Time'].isin(strings_to_drop)]
df = df[~df['Close Time'].isin(strings_to_drop)]

"""
drop rows where 'Type' have the following values:
balance
"""
# drop strings in 'Type' column
df = df[~df['Type'].isin(['balance'])]

# drop rows where 'Ticket' is nan
df = df.dropna(subset=['Ticket'])

In [ ]:
"""
drop rows where 'Commission' contains the following values:
cancelled
Floating P/L:
"from #"
"Portfolio"
"folio"  
"to #"
[tp]
[sl]
"""

# drop rows where Commission column contains any of these strings
strings_to_drop_commission = ['cancelled', 'Floating P/L:', 'from #', 'Portfolio', 'folio', 'to #', '[tp]', '[sl]']

# Use str.contains with regex OR pattern to match any of the strings
pattern = '|'.join(strings_to_drop_commission)
df = df[~df['Commission'].str.contains(pattern, case=False, na=False)]

In [ ]:
# # print df.Commission.unique()
# print(df.Commission.unique())

In [ ]:
# convert Open Time and Close Time to datetime
df['Open Time'] = pd.to_datetime(df['Open Time'])
df['Close Time'] = pd.to_datetime(df['Close Time'])

# drop rows where 'Open Time' is nan
df = df.dropna(subset=['Open Time'])

# replace rows where 'Close Time' is nan with 'Close Time' = 'Open Time' + 4 hours
df['Close Time'] = df['Close Time'].fillna(df['Open Time'] + pd.Timedelta(hours=4))

In [ ]:
df.head()

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Price2,Commission,Swap,Profit
1,46312985,2025-10-09 05:00:00,buy,0.13,ndx100,25131.48,23915.91,26732.79,2025-10-10 18:04:34,24825.42,0.00,-8.08,-397.88
3,46302452,2025-10-08 21:00:00,buy,0.13,ndx100,25072.75,23604.47,26970.39,2025-10-10 18:04:34,24825.42,0.00,-16.16,-321.53
5,46302445,2025-10-08 21:00:00,buy,0.13,ndx100,25072.62,23604.39,27030.34,2025-10-10 18:04:34,24825.42,0.00,-16.16,-321.36
7,46280960,2025-10-08 13:00:00,buy,0.13,ndx100,24887.79,23562.51,26870.36,2025-10-10 18:04:34,24825.42,0.00,-16.16,-81.08
9,46265840,2025-10-08 05:00:03,buy,0.13,ndx100,24873.47,23762.51,0.00,2025-10-10 18:04:33,24825.42,0.00,-16.16,-62.47

In [ ]:
df.tail(20)

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Price2,Commission,Swap,Profit
1306,28111286,2024-08-07 17:00:00,sell,0.30,ndx100,18397.03,18843.96,0.00,2024-08-07 21:00:00,17994.39,0.00,0.00,1 207.92
1308,28068009,2024-08-07 08:00:01,buy,0.30,ndx100,18278.20,18139.76,18838.31,2024-08-07 19:53:31,18137.72,0.00,0.00,-421.44
1310,28040002,2024-08-06 19:00:00,buy,0.30,ndx100,18217.99,18150.11,0.00,2024-08-06 22:16:35,18149.93,0.00,0.00,-204.18
1312,27785375,2024-08-01 22:00:00,sell,0.30,ndx100,18748.07,18894.68,0.00,2024-08-01 22:49:25,18895.32,0.00,0.00,-441.75
1314,27700146,2024-07-31 22:00:00,buy,0.30,ndx100,19410.32,19265.05,0.00,2024-08-01 17:37:06,19264.34,0.00,-18.65,-437.94
1316,27729768,2024-08-01 11:00:00,buy,0.30,ndx100,19476.93,19375.40,0.00,2024-08-01 11:12:11,19375.11,0.00,0.00,-305.46
1318,27662542,2024-07-31 15:00:00,buy,0.30,ndx100,19108.45,19225.47,0.00,2024-07-31 20:41:44,19224.67,0.00,0.00,348.66
1320,27622644,2024-07-30 23:00:00,sell,0.30,ndx100,18794.72,18935.96,0.00,2024-07-31 04:00:43,18936.06,0.00,-0.35,-424.02
1322,27618774,2024-07-30 21:00:00,buy,0.30,ndx100,18791.22,18661.83,0.00,2024-07-30 23:01:34,18661.47,0.00,0.00,-389.25
1324,27552556,2024-07-30 06:00:00,buy,0.30,ndx100,18962.12,18964.83,0.00,2024-07-30 17:37:15,18964.55,0.00,0.00,7.29
1326,27537601,2024-07-29 20:00:00,buy,0.30,ndx100,19157.87,19012.85,0.00,2024-07-30 02:41:10,19011.14,0.00,-18.65,-440.19
1328,27503278,2024-07-29 14:00:00,buy,0.30,ndx100,19134.60,19070.52,0.00,2024-07-29 17:59:46,19069.88,0.00,0.00,-194.16
1330,27397775,2024-07-25 22:00:00,sell,0.30,ndx100,18964.52,19110.03,0.00,2024-07-26 19:43:28,19111.31,0.00,-0.35,-440.37
1332,27376782,2024-07-25 17:00:00,sell,0.30,ndx100,18869.85,19015.03,0.00,2024-07-25 17:50:17,19015.25,0.00,0.00,-436.20
1334,27226797,2024-07-24 03:00:01,sell,0.30,ndx100,19626.45,19044.86,0.00,2024-07-25 12:02:24,19045.15,0.00,-0.35,1 743.90
1336,27233042,2024-07-24 06:00:01,buy,0.30,ndx100,19652.38,19449.36,0.00,2024-07-24 15:40:44,19449.03,0.00,0.00,-610.05
1338,27233037,2024-07-24 06:00:01,sell,0.30,ndx100,19650.76,19796.04,0.00,2024-07-24 14:00:00,19552.48,0.00,0.00,294.84
1340,27143749,2024-07-22 20:00:00,buy,0.30,ndx100,19789.53,19644.25,0.00,2024-07-24 01:19:55,19642.63,0.00,-37.30,-440.70
1342,26997705,2024-07-18 22:00:00,sell,0.10,ndx100,19656.35,19804.36,0.00,2024-07-22 16:38:49,19804.96,0.00,-0.47,-148.61
1344,26880971,2024-07-17 15:36:13,buy,0.01,ndx100,20120.01,18888.00,25555.00,2024-07-17 15:36:21,20113.89,0.00,0.00,-0.61

In [ ]:
# print df.Profit.unique()
print(df.Profit.unique())

['-397.88' '-321.53' '-321.36' '-81.08' '-62.47' '-253.59' '-94.42'
 '45.87' '163.18' '-96.15' '-78.22' '-95.57' '-76.00' '-96.59' '134.87'
 '-97.45' '125.49' '87.90' '144.26' '111.01' '-112.87' '-110.19' '-90.10'
 '132.15' '122.01' '-108.99' '-121.88' '-112.45' '-109.69' '-96.28'
 '-101.51' '-91.85' '-91.86' '81.41' '110.32' '102.11' '111.64' '112.97'
 '119.98' '40.61' '-0.02' '410.71' '-138.85' '946.42' '-307.50' '-304.02'
 '-255.22' '-272.58' '319.40' '395.88' '195.79' '0.01' '-141.31' '300.50'
 '-259.13' '-147.67' '-142.38' '-284.54' '-282.07' '-253.83' '-221.10'
 '-203.03' '293.33' '-146.02' '134.44' '184.60' '408.66' '14.04' '-220.51'
 '-347.36' '-141.83' '-342.87' '264.79' '76.89' '-125.14' '43.18'
 '-307.39' '-248.00' '-264.50' '-364.32' '-335.72' '-324.54' '-143.27'
 '55.00' '-282.08' '-12.85' '246.20' '-155.69' '-297.52' '-337.91'
 '-263.65' '353.48' '358.06' '-146.49' '161.27' '314.68' '-144.58'
 '250.84' '-142.70' '246.39' '-108.65' '-78.44' '-173.23' '-287.44'
 '-263.11' '-144.75' '-246.96' '-67.86' '50.42' '-102.00' '-5.10'
 '-146.86' '-293.14' '-317.67' '-263.62' '-406.80' '-371.38' '-316.44'
 '99.70' '19.26' '1.19' '442.39' '289.29' '147.45' '299.18' '398.84'
 '-18.12' '-923.56' '-247.17' '159.72' '-235.64' '-291.12' '-314.79'
 '-393.79' '217.88' '-381.97' '144.33' '505.39' '-146.38' '-246.23'
 '-273.19' '-226.38' '-132.24' '399.30' '-147.95' '-385.85' '440.81'
 '505.55' '750.24' '-389.47' '281.52' '-127.01' '251.46' '252.14' '-45.50'
 '-379.54' '-305.15' '106.97' '-378.34' '116.19' '-308.18' '-173.29'
 '-358.76' '-334.45' '227.93' '-166.11' '-297.55' '77.53' '-308.30'
 '-154.41' '503.83' '439.66' '-143.69' '839.71' '244.84' '245.29'
 '-117.98' '-392.55' '-305.95' '-128.77' '295.22' '480.22' '462.82'
 '97.02' '592.28' '-88.64' '-399.84' '-390.31' '-307.00' '14.66' '-411.62'
 '-160.17' '-245.62' '315.42' '-158.95' '948.18' '-308.91' '481.02'
 '1 118.12' '-293.76' '-146.92' '-234.92' '-311.72' '-91.56' '-129.86'
 '87.93' '481.96' '251.30' '-294.72' '1 122.06' '548.74' '648.92'
 '-135.14' '-272.75' '-219.03' '-91.44' '-39.72' '-137.73' '825.26'
 '-225.03' '143.31' '823.94' '456.57' '209.19' '209.59' '98.75' '402.09'
 '93.40' '242.56' '232.65' '134.54' '-58.65' '-140.53' '-112.06' '-152.79'
 '98.03' '89.84' '-145.21' '-127.09' '-85.07' '-30.31' '-116.15' '218.62'
 '55.99' '-146.05' '331.67' '-193.08' '-38.98' '-170.36' '-167.09'
 '-82.81' '36.44' '-137.94' '-121.60' '-288.78' '-186.45' '222.43'
 '-70.50' '-141.62' '-51.13' '-458.41' '-380.22' '-486.95' '8.32' '220.15'
 '-469.22' '63.16' '256.13' '-39.29' '28.73' '51.40' '142.36' '221.57'
 '-185.28' '-142.32' '208.81' '-174.84' '-161.19' '-174.29' '-161.40'
 '-23.50' '-158.77' '67.13' '-257.73' '-128.67' '-123.52' '-130.78'
 '-128.74' '273.59' '217.67' '-126.87' '-129.63' '-173.16' '-161.06'
 '-309.99' '-671.61' '312.98' '122.39' '-235.26' '598.40' '219.72'
 '313.47' '-1 035.46' '156.08' '304.80' '304.58' '-220.65' '-184.52'
 '266.73' '-69.60' '-328.33' '374.26' '242.33' '109.34' '-192.17' '751.54'
 '184.90' '8.07' '-26.91' '320.72' '25.31' '-111.15' '536.80' '-496.00'
 '-1 230.13' '-898.50' '-122.32' '-77.36' '64.36' '58.68' '68.88' '-2.92'
 '26.48' '100.36' '134.88' '-56.40' '-24.36' '-237.71' '69.54' '-52.10'
 '-34.32' '1.40' '-119.28' '-31.68' '54.48' '30.08' '-111.56' '-59.72'
 '-440.80' '-14.92' '142.08' '-72.64' '-62.28' '70.24' '-80.00' '-63.52'
 '165.48' '167.28' '218.44' '85.88' '466.49' '466.35' '8.39' '132.41'
 '3.94' '123.90' '30.03' '383.20' '-140.40' '-158.22' '-1 033.64' '-25.74'
 '-53.78' '-173.08' '-76.44' '-407.65' '-124.08' '-101.92' '170.40'
 '1 031.89' '-125.76' '336.56' '421.96' '-62.12' '-337.89' '-14.10'
 '-98.96' '12.32' '-105.72' '479.99' '70.56' '372.14' '306.71' '135.00'
 '69.03' '-39.56' '-100.55' '-366.85' '-161.47' '-133.20' '730.68'
 '-392.79' '-32.63' '197.04' '239.04' '22.90' '-1 118.73' '-45.44'
 '310.64' '-77.66' '-59.39' '122.00' '373.64' '-41.11' '-26.57' '-10.49'
 '30.77' '352.73' '-267.72' '499.99' '26.69' '1 399.18' '313.41' '297.92'
 '109.26' '-45.39' '-16.10' '146.24' '9.59' '10.67' '22.56' '-32.13'
 '-32.00' '-41.21' '-31.22' '-32.39' '-34.91' '-12.50' '66.84' '-23.10'
 '33.56' '26.94' '20.00' '508.08' '507.98' '-11.94' '40.34' '-65.04'
 '-53.49' '15.77' '27.75' '-41.91' '-40.46' '-28.77' '-38.75' '-39.78'
 '-39.45' '37.79' '-23.48' '-22.92' '-11.19' '-12.35' '-33.29' '11.16'
 '-38.97' '-12.09' '-23.58' '0.56' '-24.93' '-30.50' '-42.87' '3.30'
 '6.32' '-27.55' '25.64' '-293.55' '-35.24' '-23.31' '68.09' '-31.28'
 '-60.59' '-48.87' '39.02' '-22.79' '53.75' '-65.34' '-23.88' '155.40'
 '199.62' '499.46' '108.23' '699.64' '375.94' '26.40' '63.21' '112.50'
 '-27.63' '27.89' '1 262.32' '-66.06' '-41.67' '-36.41' '-23.40' '-50.85'
 '-54.12' '-28.09' '7.19' '32.14' '2.61' '-38.77' '-30.33' '-348.22'
 '-20.32' '-325.00' '-10.82' '-14.22' '-3.89' '1.34' '-8.55' '22.88'
 '28.37' '39.83' '43.32' '-52.38' '-351.34' '-323.96' '-42.26' '-10.93'
 '-1.05' '73.93' '-26.40' '-24.27' '-36.34' '103.69' '-57.92' '-46.84'
 '-21.46' '-38.84' '-366.00' '-404.28' '-36.97' '3.20' '-35.96' '-24.40'
 '-20.01' '-30.94' '-90.06' '667.42' '-351.20' '-4.46' '-382.66' '417.44'
 '325.04' '-48.84' '-364.62' '-293.90' '1 118.20' '432.96' '-386.78'
 '-205.68' '-214.02' '-349.76' '-158.48' '13.08' '228.50' '-191.14'
 '-298.42' '-188.58' '-237.20' '-383.66' '-948.57' '-306.87' '-307.57'
 '1 768.05' '2 144.28' '1 072.91' '308.84' '-339.46' '15.54' '162.06'
 '91.82' '-181.60' '-103.62' '509.88' '265.10' '-676.41' '-445.52'
 '-10.20' '-222.46' '-104.33' '-300.93' '98.91' '-245.36' '-149.35'
 '60.99' '840.03' '140.15' '58.34' '-94.64' '15.96' '-94.05' '114.18'
 '-477.36' '2 174.43' '-187.94' '-259.95' '165.54' '167.55' '274.59'
 '502.74' '-222.78' '5.03' '-149.21' '-44.61' '389.27' '1 509.20'
 '-334.25' '-86.31' '-170.19' '-219.42' '-274.13' '-1 263.47' '-516.88'
 '-188.19' '23.40' '-295.42' '-117.55' '0.12' '0.16' '-243.91' '-256.18'
 '-785.11' '-581.70' '-148.74' '32.26' '-284.15' '-243.90' '1 327.56'
 '1 735.91' '-1 389.20' '393.61' '1 788.57' '-328.85' '894.39' '221.94'
 '1 207.92' '-421.44' '-204.18' '-441.75' '-437.94' '-305.46' '348.66'
 '-424.02' '-389.25' '7.29' '-440.19' '-194.16' '-440.37' '-436.20'
 '1 743.90' '-610.05' '294.84' '-440.70' '-148.61' '-0.61']

In [ ]:
# clean Profit column before converting to float
# remove spaces used as thousands separators
df['Profit'] = df['Profit'].astype(str).str.replace(' ', '', regex=False)

# convert cleaned dataframe to proper Dtypes
df = df.astype({
    'Size': 'float64',
    # check if 'Ticket' can be converted to int, if not use 'str' instead
    'Ticket': 'int64',
    'S / L': 'float64',
    'T / P': 'float64',
    'Price': 'float64',
    'Price2': 'float64',
    'Commission': 'float64',
    'Swap': 'float64',
    'Profit': 'float64'
})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 671 entries, 1 to 1344
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ticket      671 non-null    int64
 1   Open Time   671 non-null    datetime64[ns]
 2   Type        671 non-null    object
 3   Size        671 non-null    float64
 4   Item        671 non-null    object
 5   Price       671 non-null    float64
 6   S / L       671 non-null    float64
 7   T / P       671 non-null    float64
 8   Close Time  671 non-null    datetime64[ns]
 9   Price2      671 non-null    float64
 10  Commission  671 non-null    float64
 11  Swap        671 non-null    float64
 12  Profit      671 non-null    float64
dtypes: datetime64[ns](2), float64(8), int64(1), object(2)
memory usage: 73.4+ KB

In [ ]:
# print shape of cleaned dataframe
print(f"Cleaned DataFrame shape: {df.shape}")

# print column names
print("Column names:", df.columns.tolist())

Cleaned DataFrame shape: (671, 13)
Column names: ['Ticket', 'Open Time', 'Type', 'Size', 'Item', 'Price', 'S / L', 'T / P', 'Close Time', 'Price2', 'Commission', 'Swap', 'Profit']

In [ ]:
# ==================================================================
"""
rename cleaned dataframe to clean Excel file name in the next cell
"""
# ==================================================================

In [ ]:
# download cleaned dataframe to excel
cleaned_excel_output = os.path.join(download_path, "cleaned_excel_output.xlsx")

df.to_excel(cleaned_excel_output, index=False)